body{
    font-family: "Helvetica", "arial", sans-serif;
    color: #333;
    background-color: #cccccc;
    margin:1em 10%;
}

h1{
    color: #333333;
    background-color: transparent;
}
a{
    color: #c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

ul{
    padding: 0;
}

li {
    float: left;
    padding: lem;
    list-style: none;
    margin: 0px;
}
img{
    display:block ;
    clear: both;
}
#imggallery{
    list-style: none;
}

#imggallery li{
    display: inline;
}
#imggallery li a img{
    border: 0;
}
